@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    width: 95vw;
    margin: 0 auto;
    padding-inline: 2rem;
  }

  .form-title {
    padding: 1rem 1.5rem;
    color: theme("colors.stone.100");
    font-size: theme("fontSize.5xl");
    font-weight: theme("fontWeight.bold");
    text-align: center;
  }

  .form-label {
    font-size: theme("fontSize.lg");
    font-weight: theme("fontWeight.medium");
    color: theme("colors.stone.100");
    align-self: flex-start;
    @apply after:content-['*'] after:ml-0.5 after:text-red-500;
  }

  .form-input {
    outline: none;
    border: 2px solid theme("colors.stone.900");
    padding: 0.25rem 0.5rem;
    background-color: theme("colors.stone.800");
    border-radius: 0.25rem;
    caret-color: theme("colors.stone.100");
    color: theme("colors.stone.200");
    width: 100%;
    @apply focus:border-blue-500;
  }

  .link {
    font-size: theme("fontSize.lg");
    color: theme("colors.stone.200");
    text-decoration: underline;
    font-weight: bold;
    @apply hover:hover:text-stone-400;
  }

  .button {
    background-color: theme("colors.stone.200");
    font-weight: theme("fontWeight.semibold");
    border-radius: theme("borderRadius.md");
    border: 2px solid theme("colors.slate.900");
    color: theme("colors.slate.900");
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    @apply disabled:cursor-not-allowed disabled:bg-stone-600  hover:bg-stone-400 active:bg-stone-500;
  }

  .todo-action-button {
    @apply p-2 rounded-full hover:bg-slate-700 active:bg-slate-500;
  }

  .form-info-message {
    background-color: theme("colors.amber.200");
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: theme("space.2");
    border-radius: theme("spacing[1.5]");
    margin: 0 auto;
    padding: theme("spacing.1");
  }

  .form-error-message {
    background-color: theme("colors.red.500");
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: theme("space.2");
    border-radius: theme("spacing[1.5]");
    margin: 0 auto;
    padding: theme("spacing.1");
  }

  .form-success-message {
    background-color: theme("colors.green.500");
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: theme("space.2");
    border-radius: theme("spacing[1.5]");
    margin: 0 auto;
    padding: theme("spacing.1");
  }

  .todo-form-input {
    padding: 5px 15px;
    border-radius: 7px;
    border: 2px solid theme("colors.stone.900");
    outline: none;
    @apply focus:border-blue-500 placeholder:text-stone-400 text-stone-100 bg-stone-900 caret-stone-100;
  }

  .todo {
    @apply bg-zinc-800 text-stone-300 border-2 border-stone-300 rounded-md flex flex-col items-start justify-between p-3 basis-1/5;
  }

  .todo-container {
    @apply w-full gap-3 grid grid-cols-[repeat(4,_minmax(200px,_1fr))] auto-rows-auto;
  }

  .section-small-header {
    @apply text-sm font-medium text-zinc-400 ml-2 mb-2;
  }

  .section-global-container {
    @apply flex flex-col w-full h-full items-start justify-start;
  }
}
